body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$primary: #5690b5;
$secondary: #082a3e;
$success: #004876;
$info: $success;
$warning: rgb(130, 111, 6);
$danger: rgba(255, 0, 0, 0.442); 
$light: white;


@import '~bootstrap/scss/bootstrap' //primary bootstrap library
